streamlit
pandas
numpy
scikit-learn
xgboost
joblib
plotly
matplotlib
langchain
langchain-community
langchain-groq
chromadb
sentence-transformers
python-dotenv
langchain-huggingface
langchain-community
langchain-core
langchain-groq
sentence-transformers
